{% extends 'blog/index.html' %}
{% load static %}<!-- -->
{% block content %}
<body>
    <main>
        <section>
            <h2 class="h2-Comentario">Comentario</h2>
                {% for item in comment %}                
                <div class="comment-conteiner">
                    <div class="card-body-comment">
                          <p class="card-text-comment">{{item.post|linebreaksbr}}</p>
                          <p class="card-text-author-comment">Autor do comentário: {{ item.author|linebreaksbr }}</p>
                          <p class="card-text-date-comment">Data de publicação: {{ item.created_date}}</p>
                    </div>
                </div>
                {% endfor %}
        </section> 
    </main>
</body>      
{% endblock %}