{% extends 'blog/index.html' %}

{% block content %}

<body>
    <main>
        <section>
            <div class="card-newpost">
                <h2>New Post</h2>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <!--tag do dajngo  -->
                    {{ form.as_p }}
                    <!--tag do dajngo para chamar o formulario e mostra -->
                    <button type="submit" class="button-save">Save</button>
                </form>
            </div>
        </section>
    </main>
</body>
{% endblock %}