{% extends 'blog/index.html' %}
{% load static %}

{% block content %}

<body>
    <main>
        <section>
            {% if post.published_date %}
            <div class="card-conteiner-detail">
                <div class="card-body-detail">
                    <h2 class="card-title-detail">{{ post.title }}</h2>
                    <p class="card-text-detail">{{ post.text }}</p>
                    <p class="card-date-detail"><strong>{{ post.published_date }}</strong></p>
                </div>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
                <a href="{% url 'post_edit' pk=post.pk %}"><button class="button-post-edit">Editar Post</button></a>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="card-comment-detail-formmulario">
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <!--tag do dajngo para chamar o formulario e mostra -->
                    <button type="submit" class="button-save">Save</button>
                </form>
            </div>
            {% endif %}
            <div class="card-comment-detail-conteiner">
                <h2 class="palavra-comentario">Comentário:</h2>
                {% for item in comment %}
                <div class="card-comment-detail-body">
                    <p>Comentario de: {{ item.author}}</p>
                    <p class="card-comment-detail-text">Texto:{{ item.text }}</p>
                    <p class="card-comment-detail-date"> <strong>Data do comentario:{{ item.created_date }}</strong></p>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
{% endblock %}