{% extends 'blog/index.html' %}
{% load  widget_tweaks  %}

{% block content %}
    <div class="card-comment-detail-formmulario">

        <h2 id="cabecalho-editar">Editar Post</h2>

        <form method="POST" class="post-form">{% csrf_token %}

            <div>
                <label for="">Titulo</label>
                {% render_field form.title %}
            </div>

            <div>
                <label for="">Texto do post</label>
                {% render_field form.text %}
            </div>

            <!--{{ form.as_p }} tag do dajngo para chamar o formulario e mostra -->
            <div>
                <button type="submit" class="button-save">Save</button>
            </div>

        </form>
    </div>
{% endblock %}