{% load static %}<!-- -->
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> <!-- it -->
        <title>noticias blog!</title>
    </head>
    <body>
        <div class="post">
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <hr>

        <div>
        {% for post in posts %}
            {{ post }}
        {% endfor %}
        </div>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <hr>
        {% for post in posts %}
            <div>
                <h1>conteudo dentro da div</h1>

                <h2><a href="">{{ post.title }}</a></h2> <!--interpolando os titulo de post-->
                <p>{{ post.text|linebreaksbr }}</p> <!-- -->
                <p>published: {{ post.published_date }}</p> <!-- -->
            </div>
        {% endfor %}

    </body>
</html>